* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(74,103,234,1) 74%, rgba(4,73,247,1) 100%);


}

.emoji {
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}



.closed {
    display: none;
}

.open {
    display: none;
}

.active {
    display: block; 
}